{{#each product in products}}
	{{#link-to 'products.show' product.company product tagName='tr'}}
      <td class="productentry-image-cell"><img class="productentry-image product-table" 
      	{{bind-attr src=product.imageUrl}}</td>
      <td>{{product.name}}</td>
      <td>{{product.company.name}}</td>
      <td>{{product.kind}}</td>
      <td>${{product.medPrice}}</td>
  {{/link-to}}
{{/each}}