{{outlet product}}
{{#unless productIsSelected}}
<div id="primary-content">
  <div class="row">
    <div class="row-content-wrap">
      <div id="home-header" class="col-md-7 col-md-offset-4 col-xs-12">
        <div id="product-image-container" class="product-image" >
      		{{#if companyIsSelected}}
            {{outlet company-logo}}
          {{/if}}
          {{#if companiesIsSelected}}
            <h2>VINTAGE HARDWARE TRACKER</h2>
        		<h1>VINSync</h1>
          {{/if}}
        </div>
      </div>
    </div>
  <div>
  <div id="products-table" class="row">
    <div class="row-content-wrap">
      <div class="col-md-7 col-xs-12 col-md-offset-4">
        <div id="product-entries">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Image</th>
                <th>Model</th>
                <th>Company</th>
                <th>Type</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
            {{#if companyIsSelected}}
              {{outlet company-products}}
            {{/if}}
            {{#if companiesIsSelected}}
              {{#each product in products}}
              	{{#link-to 'products.show' product.company product tagName='tr'}}
	                  <td class="productentry-image-cell"><img class="productentry-image product-table" 
	                  	{{bind-attr src=product.imageUrl}}</td>
	                  <td>{{product.name}}</td>
	                  <td>{{product.company.name}}</td>
	                  <td>{{product.kind}}</td>
	                  <td>${{product.medPrice}}</td>
	              {{/link-to}}
              {{/each}}
            {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{/unless}}
